HOST_IP=

DB_HOST=camagru_database
DB_PORT=3306
MYSQL_DATABASE=camagru_database
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_USER=camagru_user
MYSQL_PASSWORD=your_password

# Use only in .env.dev for testing
# MYSQL_TEST_DATABASE=camagru_test

APP_BASE_URL=https://yourdomain.example
APP_ASSETS_URL=https://yourdomain.example/path_to_assets

SMTP_HOST=your_smtp_server
SMTP_PORT=your_smpt_port
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
MAIL_FROM=your_email_address
