:root {
  --primary-100: #f0fdfa;
  --primary-600: #009689;
  --primary-600-rgb: 0, 150, 137;
}

.confirmation-message {
  background-color: rgba(var(--primary-600-rgb), 0.1);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flash-dialog {
  all: unset;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.flash-message {
  background-color: whitesmoke;
  padding: 5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 360px;
}